<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contactez nous</title>
</head>
<app-navbar></app-navbar>
<body class="body">
  <div  class="container" >
    <div class="contact-info">
      <div class="contact-details">
        <h2>Contactez nous</h2>
        <p><strong>Tel:</strong>+216 79 457 155 </p>
        <p><strong>Fax:</strong>+216 79 457 184</p>
        <p><strong>Siège:</strong> Zone industrielle rades II, 1125 rades saline</p>
        <p>Tunis , Tunisie </p>
      </div>
    </div>
  </div>
</body>
</html>
