
<div class="row">
  <h1>Forgot Password</h1>
  <h6 class="information-text">Enter your registered email to reset your password.</h6>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
  </div>
  <button type="submit" (click)="initiatePasswordReset()">Reset Password</button>
  <p *ngIf="message">{{ message }}</p>
  <div class="footer">
    <div class="footer">
      <h5>New here? <a routerLink="/register">Sign Up.</a></h5>
      <h5>Already have an account? <a routerLink="/login">Sign In.</a></h5>
    </div>
    
  </div>
</div>


