
<div class="background-container">
  <!-- Background content here -->
  <form class="form">
    <p class="title"> Forgot Password</p>
    <p class="message">Entrez votre email !</p>
    <div class="col-md-6">
      <form  class="form">
        <div class="flex">
          <label>
            <input type="text" id="nom" formControlName="nom" class="input" placeholder="votre nom">
            <div>
              <button class="submit" type="submit" (click)="initiatePasswordReset()">Send Email</button>

              <p class="signup-link">
                Don't have an account?
                <a href="/register" class="signup-link link">Sign up now</a>
              </p>
            </div>
          </label>
        </div>
      </form>
    </div>
  </form>
</div>
