

<div class="modal-overlay">
    <div class="modal-container">
      <h3>Edit user</h3>
      <form [formGroup]="userForm" (ngSubmit)="updateUserInfo()">
        <div>
          <label>
            <strong>ID:</strong>  
            <input [value]="data.id" disabled />
          </label>
        </div>
        <div>
          <label>
            <strong>Nom:</strong>
            <input formControlName="nom" />
          </label>
        </div>
        <div>
          <label>
            <strong>Prénom:</strong>
            <input formControlName="prenom" />
          </label>
        </div>
        <div>
          <label>
            <strong>Email:</strong>
            <input formControlName="email" />
          </label>
        </div>
        <div>
          <label>
            <strong>Tel:</strong>
            <input formControlName="tel" />
          </label>
        </div>
        <div>
          <label>
            <strong>Role:</strong>
            <input formControlName="role" />
          </label>
        </div>
    
        <!-- Add more user fields as needed -->
        <div>


          
          <button type="submit">Edit</button>
          <button type="button" (click)="close()">Close</button>
        </div>
      </form>
    </div>
  </div>
